* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .bloc_header{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .arrow {
    width: 10%;
    font-size: 20px;
    margin-left: 30px;
    color: black;
  }

  .bloc_logo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    align-items: center;
  }

  .logo{
    width: 45%;
    display: flex;
    margin-left: 50px;
  }

  /*--------------------------------------------------------*/
  /*--------------------------------------------------------*/

  .bloc_img{
    width: 100%;
  }

  .images{
    width: 100%;
    object-fit: cover;
  }

  .bloc_menu{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 1px 10px gray;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    align-items: center;
    background-color: #f2f2f2;
  }

  .titre_menu{
    width: 85%;
    padding: 20px;
    font-family: "Shrikhand" , cursive;
    font-size: 28px;
  }

  .like {
    position: relative;
  }   
  .heart_vide{
    font-size: 25px;
    position: absolute;
  }

  .heart_plein{
    font-size: 25px;
    background: linear-gradient(#9356DC, #FF79DA);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0%;
  }

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

  .entree{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .titre_entre{
    margin-left: 20px;
  }

  h2{
    font-size: 15px;
    font-family: 'Raleway';
    margin-bottom: 3px;
    font-weight: 500;
  }

  .bordure{
    color: #99E2D0;
    border: 1px solid;
    width: 41px;
    height: 3px;
    background-color: #99E2D0;
  }

  .entre_1{
    border: 2px white;
    background-color: white;
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 15px;
  }

  .info_entre_1{
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px 0 0 10px;
  }

  .info_entre1{
    font-family: 'Raleway';
    font-size: 15px;
    padding: 5px 0 0 10px;
    font-weight: 500;
  }

  .prix{

  }