* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
  }

@media screen and (min-width: 280px) and (max-width: 780px) {
    .container_1{
      
    }
}
    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px 0 30px 0;
    }

    .bloc_localisation{
        background-color: #F2F2F2;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 800px;
    }

    .position{
        font-size: 40px;
        margin-right: 40px;
    }

    .localisation{
        display: flex;
        box-shadow: 0px -2px 10px grey;
        align-items: center;
        height: 100px;
        justify-content: center;
        background-color: #e7e7e7;
    }

    .p_localisation{
        font-size: 46px;
        font-family: sans-serif;
    }

    .bloc_p1, .bloc_p2, .bloc_p3 {
        display: flex;
        justify-content: center;
    }

    .bloc_p1{
        
    }

    .p1{
        width: 77%;
        font-size: 60px;
        font-weight: bold;
        font-family: sans-serif;
        margin-top: 70px;
        text-align: center;
    }

    .bloc_p2{

    }

    .p2{
        width: 80%;
        font-size: 45px;
        font-weight: bold;
        margin-top: 50px;
        text-align: center;
    }

    .bloc_p3{
        margin-top: 30px;
    }

    .lineaire-simple{
        color: white;
        background: linear-gradient(#FF79DA, #ad7ce7);
        border-radius: 80px;
        font-size: 44px;
        font-family: sans-serif;
        margin-top: 50px;
        text-align: center;
        padding: 40px;
    }
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */

    .bloc_fonctionnement{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 100px;
    }

    .fonctionnement{
        font-size: 60px;
        font-family: sans-serif;
        margin-bottom: 70px;
        margin-left: 9%;
    }

    .chef_bloc{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 0 20px 0px;
    }

    .bloc_nav_1, .bloc_nav_2, .bloc_nav_3{
        display: flex;
        padding: 10px;
        width: 85%;
        justify-content: flex-start;
        align-items: center;
        border-radius: 40px;
        background-color: #F2F2F2;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 60px;
        height: 150px;
        box-shadow: 1px 1px 10px grey;
    }


    .numerotation{
        font-size: xx-large;
        font-family: sans-serif;
        border: 2px solid #9356DC;
        background: #9356DC;
        color: white;
        border-radius: 100px;
        padding: 10px 20px;
        margin-right: 30px;
        position: relative;
        right: 40px;
    }

    .mobile_icon{
        display: flex;
        align-items: center;
        padding: 20px 25px 20px 5px;
        color: #7e7e7e;
        margin: 0 20px 0 0;
        font-size: 56px;
    }

    .p_1, .p_2, .p_3{
        font-size: 50px;
        font-family: sans-serif;
    }
