@media (min-width: 768px) and (max-width: 991px) {
    .container_1, .container_2{
      margin: 0 auto;
      width: 80%;
    }

    .fonctionnement, .titre_restaurant{
      text-align: center;
      font-size: 35px;
      margin-bottom: 51px;
    }

    .chef_bloc {
      flex-wrap: initial;
    }

    .bloc_img, .bloc_img_2, .bloc_img_3, .bloc_img_4{
      width: 45%;
      height: 320px;
    }

    .img, .img_2, .img_3, .img_4 {
      height: 235px;
    }

    .bloc_menu {
      display: flex;
      flex-wrap: wrap;
    }

}