@media (min-width: 992px) {
    .container_1, .container_2{
        max-width: 1280px;
        margin: 0 auto;
    }

    .bloc_logo {
        gap: 50%;
    }

    .logo {
        width: 25%;
        margin-left: -200px;
    }

    .bloc_img img {
        height: 250px;
    }
    .entree , .plat , .dessert {
        width: 33%;
    }

    .titre_plat h2, .titre_dessert h2 {
        margin-top: 0;
    }

    .titre_footer {
        width: 90%;
        font-size: 30px;
        padding-top: 3%;
    }

    .bloc_footer_1 {
        margin-top: 1%;
    }
    
    .mini_bloc_footer_1, .mini_bloc_footer_2 {
        width: 90%;
        
    }

    .mini_bloc_footer_1 i {
        font-size: 16px;
    }

    .mini_bloc_footer_2 i {
        margin-right: 4px;
    }

    .icon_footer {
        font-size: 15px;
    }

    .p_footer {
        font-size: 20px;
    }

    .mention_footer, .contact_footer {
        font-size: 20px;
    }
    .titre_menu {
        width: 95%;
    }
}