@media (min-width: 768px) and (max-width: 991px) {
    .container_1{
      margin: 0 auto;
      width: 80%;
    }

    .titre_footer {
        width: 90%;
        font-size: 35px;
        padding-top: 3%;
        
    }

    .bloc_logo {
        gap: 20%;
    }

    .icon_footer, .mention_footer, .contact_footer {
        font-size: 20px;
    }

    .p_footer {
        font-size: 20px;
    }

    .mini_bloc_footer_2 i{
        margin-right: 3px;
    }
    
    }